body {
  font-family: "Roboto Slab", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, sans-serif;
  background-color: #f5f5f5;
  color: #222;
  line-height: 1.6;
  font-size: 16px;
  margin: 0;
  padding: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.main {
  width: 100%;
  flex: 1 0 auto;
  display: flex;
  flex-direction: column;
}

.main__hero {
  background: linear-gradient(rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.5)),
    url("../../images/hero-section.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 86px 2rem 100px;
  color: white;
}

.main__hero-content {
  max-width: 700px;
  width: 100%;
}

.main__hero-title {
  font-family: "Roboto Slab", serif;
  color: #ffffff;
  margin-bottom: 15px;
  text-align: left;
  max-width: 535px;
  width: 100%;
  height: auto;
  opacity: 1;
  font-weight: 400;
  font-size: 60px;
  line-height: 64px;
  letter-spacing: 0;
  margin-left: -5px;
}

.main__hero-subtitle {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  margin-top: 30px;
  padding-left: -10px;
  text-align: left;
  opacity: 1;
}

.main__about {
  background: white;
  padding: 2rem;
  flex: 1 0 auto;
  margin-bottom: 2rem;
}

.main__about-content {
  max-width: 1200px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 56px;
}

.main__about-text {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.5rem;
  letter-spacing: 0;
  color: #1a1b22;
  margin-top: 5rem;
  width: 100%;
  max-width: 600px;
  height: auto;
  opacity: 1;
}

.main__about-title {
  font-size: 40px;
  font-weight: bold;
  margin-bottom: 32px;
  color: #333;
}

.main__about-description {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
  margin-bottom: 20px;
}

.main__about-description:last-child {
  margin-bottom: 0;
}
.main__author-image {
  width: 464px;
  height: 464px;
  border-radius: 1000px;
  object-fit: cover;
  margin: 50px auto 135px;
  display: block;
  background-image: url("../../images/1000132344.jpg");
  background-repeat: no-repeat;
  opacity: 1;
}

@media (max-width: 768px) {
  .main__hero {
    padding: 120px 2rem 40px;
    align-items: center;
    text-align: center;
    margin-right: -12px;
  }

  .main__hero-content {
    max-width: 600px;
  }

  .main__hero-title {
    text-align: left;
    width: 385px;
    height: 80px;
    opacity: 1;
    top: 104px;
    left: 163px;
    font-family: Roboto Slab;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    letter-spacing: 0px;
    color: #ffffff;
    margin-left: 85px;
  }

  .main__hero-subtitle {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 24px;
    margin-left: 90px;
  }

  .main__about {
    padding: 40px 20px;
  }

  .main__about-content {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 40px;
    align-items: center;
    text-align: left;
  }

  .main__about-text {
    padding-left: 0;
    max-width: 424px;
    height: auto;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    letter-spacing: normal;
    color: #1a1b22;
    margin: 0 auto;
  }

  .main__about-title {
    font-size: 32px;
  }

  .main__author-image {
    width: 100%;
    max-width: 768px;
    height: 345px;
    object-fit: cover;
    border-radius: 8px;
    display: block;
    margin: 0 auto;
  }
}

@media (max-width: 400px) {
  .main__hero-content {
    max-width: 288px;
  }

  .main__hero-title {
    margin: 0 auto 10px;
    width: 285px;
    height: 80px;
    opacity: 1;
    position: relative;
    top: 5%;
    left: -5px;
    font-family: "Roboto Slab", serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 40px;
    color: #ffffff;
  }

  .main__hero-subtitle {
    font-size: 18px;
    line-height: 1.5;
    margin: 0 auto 30px;
    word-break: break-word;
    hyphens: auto;
    padding-left: 0;
  }

  .main__about-content {
    grid-template-columns: 1fr;
    gap: 20px;
    text-align: center;
  }

  .main__about-title {
    text-align: left;
    font-size: 2rem;
    margin-bottom: 16px;
    font-weight: 400;
  }

  .main__about-description {
    font-size: 14px;
    color: black;
    text-align: justify;
  }
}

@media (max-width: 400px) {
  .main__hero {
    padding: 72px 2rem 40px;
    align-items: center;
    text-align: center;
  }
}
