.search-form {
  display: flex;
  justify-content: center;
  margin: 40px auto;
  max-width: 800px;
  border-radius: 24px;
  padding: 2px;
  width: 675px;
  position: relative;
  top: 50px;
}

.search-form__form {
  display: flex;
  width: 100%;
}

.search-form__input {
  width: 550px;
  height: 62px;
  padding: -15px 16px;
  border: none;
  border-radius: 24px 0 0 24px;
  font-size: 16px;
  color: #333;
  background-color: white;
  outline: none;
  opacity: 1;
  transition: box-shadow 0.3s ease, border-color 0.3s ease;
}

.search-form__input::placeholder {
  color: #757575;
}

.search-form__input:focus {
  border-color: transparent;
  box-shadow: none;
}

.search-form__button {
  width: 168px;
  height: 64px;
  padding: 12px 24px;
  background-color: #1a73e8;
  color: white;
  border: none;
  border-radius: 35px;
  cursor: pointer;
  opacity: 1;
  transition: background-color 0.3s ease;
  position: absolute;
  right: 50px;
}

.search-form__button:hover {
  background-color: #1557b0;
}

.search-form__error {
  color: red;
  font-size: 14px;
  margin-top: 8px;
}

@media (max-width: 600px) {
  .search-form {
    width: 90%;
    background: none;
  }
  .search-form__form {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .search-form__input {
    width: 288px;
    height: 56px;
    opacity: 1;
    border: 1px solid #d1d2d6;
    border-radius: 100px;
    background-color: #ffffff;
    padding-inline: 16px;
    font-size: 16px;
    box-sizing: border-box;
    position: relative;
    left: 12px;
  }

  .search-form__button {
    width: 288px;
    height: 56px;
    opacity: 1;
    border-radius: 100px;
    color: white;
    box-shadow: 0px 5px 15px 0px #0e1a3933;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    position: static;
  }
}
