.success-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.success-modal__content {
  background-color: #fff;
  border-radius: 12px;
  padding: 2rem;
  max-width: 400px;
  width: 90%;
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  text-align: center;
  animation: fadeIn 0.3s ease;
}

.success-modal__title {
  width: 315px;
  height: 56px;
  opacity: 1;
  margin-left: 25px;
  font-family: Roboto;
  font-weight: 900;
  font-size: 24px;
  line-height: 100%;
  color: #000000;
  text-align: left;
}

.success-modal__link {
  color: #1a73e8;
  width: 228px;
  height: 18px;
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.2;
  letter-spacing: normal;
  margin-left: -60px;
  text-decoration: none;
  opacity: 1;
  margin-right: 230px;
}

.success-modal__close {
  width: 40px;
  height: 40px;
  background: transparent;
  border: none;
  font-size: 24px;
  cursor: pointer;
  color: #ffffff;
  transition: color 0.2s ease;
  position: relative;
  top: -80px;
  left: 245px;
  opacity: 1;
}

.success-modal__close:hover {
  color: #000;
  transform: scale(1.1);
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
