.footer {
  background-color: #f5f5f5;
  padding: 20px 40px;
  margin-top: auto;
}
.footer.saved-page {
  background-color: white;
  padding: 20px 40px;
  margin-top: auto;
}

.footer__container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  flex-wrap: wrap;
  max-width: 1200px;
  margin: 0 auto;
}

.footer__copyright {
  width: 288px;
  height: 22px;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 22px;
  color: #b6bcbf;
  text-align: center;
  margin: 0 auto;
  padding-bottom: 20px;
  position: relative;
  top: 70px;
}

.footer__right {
  display: flex;
  align-items: flex-end;
  gap: 20px;
  justify-content: flex-end;
  flex: 2;
}

.footer__nav {
  display: flex;
  gap: 12px;
}

.footer__link {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: #1a1b22;
  text-align: center;
  margin: 10px auto;
  display: block;
  text-decoration: none;
  position: relative;
  top: 62px;
}

.footer__link:hover {
  color: #005fa3;
}

.footer__home-link {
  position: relative;
  top: 62px;
  left: -15px;
  width: 49px;
  height: 24px;
  opacity: 1;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  font-size: 18px;
  line-height: 24px;
  letter-spacing: 0;
  text-align: center;
  color: #1a1b22;
}

.footer__social {
  display: flex;
  gap: 12px;
  position: relative;
  top: 50px;
  left: 12px;
  width: 24px;
  height: 24px;
  opacity: 1;
}

.footer__icon {
  width: 24px;
  height: 24px;
  transition: opacity 0.3s ease;
}

.footer__icon:hover {
  opacity: 0.7;
}

@media (max-width: 600px) {
  .footer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 12px;
    position: relative;
    top: 5px;
  }

  .footer__link {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #1a1b22;
    margin: 8px auto;
    display: block;
    text-decoration: none;
    position: relative;
    top: -80px;
    right: 115px;
    transition: color 0.3s ease, transform 0.3s ease;
  }
  .footer__home-link {
    position: relative;
    top: -50px;
    left: -120px;
    width: 200px;
    height: 74px;
    opacity: 1;
    font-family: Roboto, sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 48px;
    letter-spacing: 0px;
    color: #1a1b22;
  }

  .footer__link:hover {
    color: #0055ff;
    transform: translateY(-2px);
  }

  .footer__social {
    display: flex;
    gap: 16px;
    justify-content: center;
    align-items: center;
    margin-top: 24px;
    position: relative;
    top: -135px;
    left: 5px;
  }

  .footer__social-icon {
    width: 32px;
    height: 32px;
    transition: transform 0.3s ease;
  }

  .footer__social-icon:hover {
    transform: scale(1.1);
  }

  .footer__copyright {
    width: 300px;
    height: 22px;
    position: relative;
    top: 170px;
    left: -15px;
    opacity: 1;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 0;
    color: #b6bcbf;
  }

  .footer__nav {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }
}
